@use "globals";

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #F9F9F9;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide  {
  text-align: center;
  font-size: 18px;
  background: #F9F9F9 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slidedos{
  text-align: center;
  font-size: 18px;
  background: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//focus de los input

.inputfoucus{
  &:focus{
    border-color: #86b7fe;
    border-color: var(--bs-form-invalid-border-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb),.25);
    border: #FF0000 solid 1px;
  }
}

.form-check-input:checked {
  background-color: #FF0000;
  border-color: #FF0000;
}

