@use "globals";

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: transparent;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide  {
  text-align: center;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slidedos{
  text-align: center;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//focus de los input

.inputfoucus{
  &:focus{
    border-color: #86b7fe;
    border-color: var(--bs-form-invalid-border-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb),.25);
    border: #FF0000 solid 1px;
  }
}

.form-check-input:checked {
  background-color: #FF0000;
  border-color: #FF0000;
}

//textos cupones

.textocupon{
  font-size: 1.063rem;
  margin-top: 1.125rem !important;
  @media (min-width: 992px) {
    font-size: 1.875rem;
  }
}

.cambiodecolor{
  color: white;
  @media (min-width: 1200px){
    color: #000;
  }
}

.textocuponprecio{
  font-size: 0.688rem;
  margin-top: 1.50rem !important;
  @media (min-width: 992px) {
    font-size: 1.25rem;
  }
}

.textocuponvalido{
  font-size: 0.938rem;
  @media (min-width: 992px) {
    font-size: 1.125rem
  }
}

.textobannercupon{
  font-size: 1.4rem;
  margin-top: 1.50rem !important;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

//texto mis compras 
.textomiscompras{
  font-size: 0.75rem;
  @media (min-width: 992px){
    font-size: 1.125rem;
  }
}

//componentes responsivo para puntos cybercard

//text0 cards precio
.estilotextoprecio{
  text-decoration: line-through ;
  color: #6F6F6F;
  @media (min-width: 768px){
    text-decoration: none;
    color: rgba(160, 7, 98, 1);
  }
}

//cybermarket texto 

.textcolorcybermarket{
  color: #FF0000;
  @media (min-width: 1200px){
    color: #000;
  }
}

//componente descripcion garantia responsive
.descripcionresponsive{
  background-color: transparent;
  @media (min-width: 1200px){
    background-color: #FF0000;
    filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
  }
}

.textdescripcionresponsive{
  color: #FF0000;
  @media (min-width: 1200px){
    color: white;
  }
}

.garantiaresponsive{
  color: black;
  background-color: transparent;
  @media (min-width: 1200px){
    color: white;
    background-color: white;
    filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
  }
}

.activebtncolor{
  &:first-child:active{
    background-color: var(--bs-btn-active-bg);
    border-color: black;
    border: 2px solid black;
  }
}

.activebtntalla{
  &:first-child:active{
    background-color: var(--bs-btn-active-bg);
    border-color: #FF0000;
    border: 2px solid #FF0000;
  }
}

//puntos componentes 
.barranavegacion{
  border: none;
  @media (min-width: 1200px){
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
  }
}

.borderblwhite{
  border-color: #F7E7E9 !important;
  @media (min-width: 1200px){
    border-color: black !important;
}
}

.cambiodebg{
  background-color: hsl(0, 100%, 50%);
  @media (min-width: 1200px){
    background-color: #F7E7E9;
  }
}
