/*  Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
}

.mi-input::-webkit-input-placeholder {
  color: #adb5bd;
}

.border-circular {
  border-radius: 100%;
}

.colorinput {
  color: #adb5bd;
}

.colorpurpura {
  color: #9e005d;
}

.bgcuponnav {
  background-color: #E7E7E7;
}

.bgmain {
  background-color: #F9F9F9;
}

.bgredsecundary {
  background-color: #F7E7E9;
}

.bgsecundario {
  background-color: #EEEEEE;
}

.bgblue {
  background-color: #00ABD0 !important;
}

.grissecundario {
  color: #6F6F6F;
}

.grissubtitulos {
  color: #787878;
}

a {
  color: transparent !important;
}

.bacgroundsecundario {
  background-color: #EEEEEE;
}

.colorprimary {
  color: hsl(0, 100%, 50%);
}

.textcolorpurpura {
  color: rgb(160, 7, 98);
}

.bacgroundpurpura {
  background-color: rgb(160, 7, 98) !important;
}

.bgred {
  background-color: hsl(0, 100%, 50%) !important;
}

.justifytext {
  text-align: justify;
}

.fontsmall {
  font-size: 0.625rem !important;
}

.font-medium {
  font-size: 1.125rem !important;
}

.fontsnormalsmall {
  font-size: 0.875rem;
}

.fontbig {
  font-size: 2.375rem;
}

.fontsubtitle {
  font-size: 1.25rem;
}

.fontverysmall {
  font-size: 0.75rem;
}

.t-fs-g {
  font-size: 4rem;
}

.posicion_body {
  position: absolute;
  top: 90%;
}

.scroll {
  height: 5em;
  line-height: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.position {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.positioncupon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bordercupon {
  border-left: 2px dashed #FF0000;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #F9F9F9;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slidedos {
  text-align: center;
  font-size: 18px;
  background: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputfoucus:focus {
  border-color: #86b7fe;
  border-color: var(--bs-form-invalid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
  border: #FF0000 solid 1px;
}

.form-check-input:checked {
  background-color: #FF0000;
  border-color: #FF0000;
}

.textocupon {
  font-size: 1.063rem;
  margin-top: 1.125rem !important;
}
@media (min-width: 992px) {
  .textocupon {
    font-size: 1.875rem;
  }
}

.textocuponprecio {
  font-size: 0.688rem;
  margin-top: 1.5rem !important;
}
@media (min-width: 992px) {
  .textocuponprecio {
    font-size: 1.25rem;
  }
}

.textocuponvalido {
  font-size: 0.938rem;
}
@media (min-width: 992px) {
  .textocuponvalido {
    font-size: 1.125rem;
  }
}

.textobannercupon {
  font-size: 1.4rem;
  margin-top: 1.5rem !important;
}
@media (min-width: 768px) {
  .textobannercupon {
    font-size: 2rem;
  }
}

.estilotextoprecio {
  text-decoration: line-through;
  color: #6F6F6F;
}
@media (min-width: 768px) {
  .estilotextoprecio {
    text-decoration: none;
    color: rgb(160, 7, 98);
  }
}

/*# sourceMappingURL=style.css.map */
